<%
  isInFleet = false;
  isInQueue = false;
  switch(req.session.pilotQueue) {
    case 'main':
      positionMessage = '<p>Вы находитесь в основе флота. Следуйте указаниям ФК.</p>';
      isInFleet = true;
      break;
    case 'queue':
      positionMessage = '<p>Вы находитесь в очереди в запас флота.</p>';
      isInQueue = true;
      break;
    case 'reserve':
      positionMessage = '<p>Вы находитесь в очереди в основу флота.</p>';
      isInQueue = true;
      break;
    case 'none':
      positionMessage = '<p>Вы не находитесь в очереди.</p>';
      break;
    case undefined:
      positionMessage = '<p>Перезагрузите страницу.</p>';
      break;
    default:
      positionMessage = '<p>Но как?</p>';
      break;
  }

  typeof req.headers.eve_stationname == 'undefined' ?
    location = req.headers.eve_solarsystemname + ' - ' + req.headers.eve_constellationname + ' - ' + req.headers.eve_regionname :
    location = req.headers.eve_stationname;

  joinDisabled = '';
  leaveDisabled = '';
  if(isInFleet) {
    joinDisabled = ' disabled';
    leaveDisabled = ' disabled';
  } else if(isInQueue) {
    joinDisabled = ' disabled';
  } else {
    leaveDisabled = ' disabled';
  }

  switch(isFleetThere) {
    case true:
      fleetMessage = 'Сейчас есть активный флот.';
      break;
    case false:
      fleetMessage = 'Сейчас активного флота нет.';
      joinDisabled = ' disabled';
      break;
    default:
      fleetMessage = isFleetThere;
  }
%>
<p>Привет, <span id="charname"><%= req.headers.eve_charname %></span>! <%= fleetMessage %></p>
<p>Ты находишься в <b><%= location %></b> на корабле <span id="shiptype"><%= req.headers.eve_shiptypename %></span> :)</p>
<form id="fit-form" action="javascript:void(0)">
  <label for="fit">Фит</label> <span class="link" id="FAQ">// а что делать-то?</span><br />
  <div id="fit-wrapper">
    <textarea id="fit" name="fit"></textarea>
  </div>
  <input id="fit-submit" type="submit" value="Встать в очередь" />
</form>
<p><span class="actionButton<%= joinDisabled %>" id="queue-join">Регистрация в очередь</span></p>
<p><span class="actionButton<%= leaveDisabled %>" id="queue-leave">Покинуть очередь</span></p>
<p>Когда подойдет твоя очередь, ФК запросит потверждения твоей готовности через ингейм браузер - не закрывай его! Не забудьте также зайти в комнату ожидания ТС.</p>
